.footer-container{
    background-color:white;
    position:relative;
    height:120px;
    width:100vw;

}
.footer-text{
color:#27AE93;
text-decoration: underline dotted;
padding: 30px;
text-align: center;
position:relative;
top:50px;
}
.footer-text:hover{
    text-decoration: underline;

}